@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply scroll-smooth;
}

body {
    @apply transition-colors duration-300;
}

.text-gray {
    @apply text-gray-600 dark:text-gray-300;
}

section {
    @apply my-10;
}

section:not(:first-child) {
    @apply  flex flex-col gap-y-3;
}

img {
    @apply -z-50;
}

h1 {
    @apply text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none;
}

h2 {
    @apply text-xl font-bold;
}

h3 {
    @apply font-semibold leading-none text-xs sm:text-sm;
}

p {
    @apply text-justify font-sans text-sm;
}

#about a {
    @apply underline;
}

span {
    @apply max-w-[600px] md:text-xl;
}

footer a {
    @apply font-medium hover:text-black dark:hover:text-white;
}

/*!----For compability area----!*/

/*'-webkit-text-size-adjust' is not supported by Chrome, Chrome Android, Edge 79+, Firefox, Safari. Add 'text-size-adjust' to support Chrome 54+, Chrome Android 54+, Edge 79+.*/

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}